body {
	background-color: #b7b6b6;
}

#mainHeading {
	height:200px;
	background-image: url('../images/pizzaBackground-top.jpg');
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom:0px;
	visibility: ;
	z-index: -1;


}

#mainHeading h1 {
	margin-top: 60px;
	margin-left: 30px;
	margin-bottom: 0px;
	visibility: hidden;
}

#startContent {
	height:200px;
	background-image: url('../images/pizzaBackground-middle.jpg');
	background-repeat: no-repeat;
	background-position: center;
	margin-top: 0px;
	visibility: ;

	z-index: -1;

}

#startContent h1{
	margin-top: 5px;

	z-index: -1;
}

#startContent a {
	visibility: ;
	z-index: -1;
}

#orderFormContent {
	z-index: 50;
	position: fixed;
	top:0px;
	visibility: hidden;
}

.overlay {
	width:100%;
}

footer {
	height: 200px;
	background-image: url('../images/pizzaBackground-bottom.jpg');
	background-position: center;
	background-repeat: no-repeat;
}

footer h4 {
	
}

#footerText {
	margin-top: 150px;
	background-color: rgba(1, 1, 1, .5);
	width:100%;
	color: white;
}

#orderFormContent {
	margin-top: 60px;
}

#selectionsListTable {
		
}

#fullOrderPanel {
	max-height: 300px;
	overflow-y: scroll;
}


#infoTable {
	min-width:300px;
}

#infoTable td{
	padding-left: 5px;
	border: 1px solid gray;
}

#receiptContainer {
	position: relative;
	max-height: 600px;
	overflow-y: scroll;
}